<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" providerName="MySql.Data.MySqlClient"
        connectionString="Database=eshop;Datasource=localhost;User=root;CharSet=utf8;Persist Security Info=True" />
  </connectionStrings>
</configuration>